.header-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;
  background: url('svg/stacked-peaks-haikei.svg');
}

.header-left {
  height: 100%;
  width: 70px;
}
.header-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header-center {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.header-center h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00bfff;
}

.header-right {
  height: 100%;
  width: 70px;
}

