* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: 'Roboto', sans-serif;
}
.label-box {
  
  margin-top: 200px;
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(180deg, #dd7272 0%, #53c8d7 100%);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.zoomed-img {
  position: absolute;
  border-radius: 50%;
  border: 6px solid #000000;
  position: absolute;
  top: -40%;
  left: 11%;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.zoomed-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.label-body {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}
.label-body span h3 {
  font-size: 100%;
  font-weight: 700;
  color: #000000;
}
.label-body span p {
  font-size: 80%;
  font-weight: 400;
  color: #000000;
  /* overflow is covered with ellipses */
  overflow: hidden;
  text-overflow: ellipsis;
  /* 2 lines of text */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.card {
  width: 350px;
  /* display: none; */
  aspect-ratio: 1/1;
  margin-top: -100px;
}
/* Path: labels.css */
