body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: Arial, sans-serif;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-style: 'Roboto', sans-serif;
  }
  .kidney { 
    width: 500px;
    height: 550px;
  }
  .top {
    background-color: red;
    position: relative;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100vw;
  }
  .bottom {
    background-color: blue;
    position: relative;
  }

  .image-container {
    position: relative;
  }
  
  .hotspot {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .info {
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
  }
  



  .left, .right {
    background-color: rgb(247, 7, 255);
    position: relative;
  }
  .center {
    background-color: brown;
    height: 100%;
  }

